<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386997419028-ss65nv5vbqsi2qqrm4f4sene0l8cg95f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386997419028-ss65nv5vbqsi2qqrm4f4sene0l8cg95f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>386997419028-ccgo0ffcm53mqaap3trql8kbhbqkiddo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA62XlGXfBTx2hhiQJ4LlW25W8TFVSavj8</string>
	<key>GCM_SENDER_ID</key>
	<string>386997419028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newlogin</string>
	<key>PROJECT_ID</key>
	<string>bit-hackathon-ab45b</string>
	<key>STORAGE_BUCKET</key>
	<string>bit-hackathon-ab45b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386997419028:ios:f7ba451c440adbc28bfb01</string>
	<key>DATABASE_URL</key>
	<string>https://bit-hackathon-ab45b-default-rtdb.firebaseio.com</string>
</dict>
</plist>